
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<body>

    <div id="header">
        <h2 class="titulo">¡Hola de nuevo!</h2>
        <p id="descripcion">Te mostramos un resúmen del mes de  </p>
    </div>

    <hr>

 
    <div class="contenedor1">
   
        <div id="buscar">
            <label style="color: rgb(97, 94, 94); font-size: medium;">
                Tu total a pagar es de:
            </label>

            <h2>$ 6,300.00</h2>
            
        </div>

        <div class="contenedor2">


        </div>

    </div>
</body>
  
